@model IEnumerable<Project.Models.Database.Exam>

@{
    ViewData["Title"] = "Index";
}

<h1>All Exams</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.subject.name)
            </th>
            <th>About</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.subject.name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.idExam">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.idExam">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.idExam">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
